/*  tags  */

* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

section, footer {
    padding: 100px 15% 100px;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
}

h2 {
    font: normal 20px Roboto Slab, Serif;
    text-transform: capitalize;
}

p {
    font: 14px "Roboto Slab", Serif;
    line-height: 24px;
    color: #555555;
}

hr {
    height: 2px;
    box-shadow: none;
    border: none;
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
button:focus {
    outline: none;
}
/*  classes   */

.flex-1 {
    flex: 1;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    height: 44px;
    width: 174px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    border-radius: 2px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0);

    font: 18px "Roboto Slab", sans-serif;
}
.btn:hover, input[type=submit]:hover {
    background-color: white;
    color: #c0301c;
    cursor: pointer;
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 70px;
}
.section__header * {
    text-align: center;
}
.section__header > hr {
    width: 50px;
    background-color: #555555;
    margin: 30px;
}

.input-field {

}

/*  IDs and sections   */

section#home {
    height: 770px;
    display: flex;
    flex-direction: column;

    padding-top: 0;
    padding-bottom: 0;

    background: url("img/Home-Background.png") no-repeat;
    background-size: cover;

    color: white;
}


#topnav {
    position: relative;
    padding-top: 40px;
}

#logo {
    position: relative;
    top: -10px;
    font-size: 24px;
    font-weight: 600;
}

#topnav > ul {
    position: absolute;
    right: 0;
    display: inline;
}
#topnav > ul > li {
    display: inline;
    margin-left: 34px;
}
#topnav > ul > li > a {
    text-decoration: none;
}


#home__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home__content > h2 {
    padding-top: 23px;
    padding-bottom: 48px;
}






section#services {

}

#services__content {
    display: flex;
}

#services__content > div {
    flex: 1 250px;
    text-align: center;
}
#services__content > div:not(:last-child) {
    margin-right: 30px;
}
#services__content > div > h4 {
    margin-bottom: 23px;
    margin-top: 27px;
}
#services__content img:hover {

}




section#about {
    background: #f8f8f8;
}

#about__content > div:first-child {
    display: flex;
}
#about__content > div:first-child > p {
    flex: 1;
    text-align: justify;
}
#about__content > div:first-child > p:first-child {
    margin-right: 30px;
}




#team {
    margin-top: 60px;
}

#team ul {
    white-space: nowrap;
    display: flex;
    transition: margin-left 250ms;
}
#team li {
    margin-right: calc((70vw - 263px * 4) / 3);
    display: inline-block;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 106px;
    width: 35px;
    height: 38px;
    background: #555555;
    opacity: 20%;
    color:#dddddd;
    border: none;
}
.arrow:hover {
    opacity: 50%;
}
.arrow:active {
    background-color: #c0301c;
    opacity: 100%;
}

.prev {
    left: 0;
}
.next {
    right: 0;
}


.employee {
    text-align: center;
}
.employee img {
    /*width: 15.7vw;*/
    /*height: 15vw;*/
}
.employee h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}




section#works {

}

#works__navbar {

}

#works__navbar > li {
    display: inline;
    font: 16px "Roboto Slab", sans-serif;
}
#works__navbar > li:not(:last-child) {
    margin-right: 20px;
}
#works__navbar > li:first-child, #works__navbar > li:hover {
    color: #c0301c;
}


#works__content {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 26px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
}

#works__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



section#parallax {
    height: 368px;
    box-sizing: border-box;

    background-size: auto 100%;
    background: url("img/Paralax-section.png") no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}
section#parallax > p {

    font-size: 30px;

    line-height: 44px;
    text-align: center;
    margin-bottom: 40px;

    color: white;
}





section#blog {

}

section#blog hr {
    margin: 40px 2px;
    background-color: #dddddd;
}

article {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-auto-rows: auto auto 1fr;

    grid-template-areas:
            "i d h"
            "i p p"
            "i a a";
}

@media (max-width: 1000px) {
    article {
        grid-template-areas: "i i i "
    "d h h"
    "p p p"
    "a a a";
    }
    #blog article > img {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
    }
}
article p {
    grid-area: p;
}
article > a {
    grid-area: a;
}
article img {
    grid-area: i;
    margin-right: 39px;
    width: 460px;
    height: 321px;
}

article > div:nth-child(3) {
    grid-area: h;
}


.article__date {
    width: 72px;
    height: 72px;
    border: 2px solid #555555;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #777777;

    margin-right: 27px;
    margin-bottom: 20px;

    grid-area: d;
}

.article__date span:first-child {
    font: 24px Montserrat, sans-serif;
    font-weight: 600;
}
.article__date span:last-child {
    font: 14px Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


.article__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-area: h;
}

.article__header h4 {
    margin-top: 10px;
    font: 16px Montserrat, sans-serif;
    font-weight: 500;
}
.article__header h4:hover {
    color: #c0301c;
    cursor: pointer;
}

.article__header span {
    margin-top: 10px;
    font: 13px "Roboto Slab", sans-serif;
    font-style: italic;
}

article > a {
    margin-top: 30px;
    font: 13px "Roboto Slab", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c0301c;
}





section#clients {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#clients ul {
    display: flex;
    justify-content: center;
}
section#clients li {
    margin: 0 30px;
}

section#clients li:nth-child(1) img {
    margin-top: 11px;
}
section#clients li:nth-child(2) img {
    margin-top: 0;
}
section#clients li:nth-child(3) img {
    margin-top: 14px;
}
section#clients li:nth-child(4) img {
    margin-top: 11px;
}
section#clients li:nth-child(5) img {
    margin-top: 1px;
}

section#clients p {
    max-width: 764px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 18px;
    font-style: italic;
}

section#clients span {
    font: 20px "Roboto Slab", sans-serif;
    color: #555555;
}

section#clients img {
    margin-top: 40px;
}





section#contact > div:last-child {
    display: flex;
    justify-content: space-evenly;
}

#contact__info {
    flex: 4;
}

#contact form {
    flex: 7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
}

#name, #subject {
    grid-column: 1 / 3;
}
#email, #company_name {
    grid-column: 3 / -1;
}
#message {
    grid-column: 1 / -1;
}

#contact form > span {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;

    font: 12px "Roboto Slab", serif;
    color: #555555;
}
#contact form > span > span {
    color: #c0301c;
}

#contact input {
    height: 42px;
    padding: 0 14px;
}
#contact textarea {
    padding: 14px;
    min-height: 100px;
}

.input-field, input[type=submit] {
    border: 1px solid #555555;
    border-radius: 0;
    font: 12px "Roboto Slab", serif;
    color: #555555;
}
.input-field::placeholder {
    text-transform: uppercase;
}

.input-field:focus, .input-field:hover {
    outline: none;
    border-color: #c0301c;
}
input[type=submit]:hover {
    background-color: #c0301c;
    border: none;
    color: white;
}



#contact__info > * {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 17px;
    grid-row-gap: 12px;
    margin-bottom: 35px;
}
#contact__info > * p {
    grid-column: 2 / -1;
}
#contact__info > * h4 {
    color: #555555;
    font-weight: 500;
}




footer {
    background-color: #c0301c;
    color: white;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;\*/
    /*align-items: center;*/
    text-align: center;
}

footer img {
    display: inline;
    margin: 7px;
}
footer hr {
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 30px auto;
}